.DS_STORE
.eslintcache
*.swp
*~

README.md
.yarnrc.yml
.editorconfig
yarn.lock
jest.config.mjs

/node_modules

npm-debug.log
npm-debug.log*
yarn-error.log*
package-lock.json

**/.yarn
**/.circleci
**/.pnp.*

*.reabank
