version: 2.1
orbs:
  node: circleci/node@4
jobs:
  build:
    docker:
      - image: cimg/node:current
    environment:
      NODE_OPTIONS: --experimental-vm-modules
    steps:
      - checkout
      - node/install:
          install-npm: false
          install-yarn: true
      - run: node --version
      - run: yarn --version
      - node/install-packages:
          pkg-manager: yarn
      - persist_to_workspace:
          root: .
          paths:
          - .
  unit-tests:
    docker:
      - image: cimg/node:current
    environment:
      NODE_OPTIONS: --experimental-vm-modules
    steps:
      # Reuse the workspace from the build job
      - attach_workspace:
          at: .
      - run:
          command: yarn test
          name: Run unit tests
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - unit-tests:
          requires:
            - build

